{% extends "User/user-standard.html" %}
{% load static %}

{% block title %}Adopta!{% endblock %}

{% block content-header %}Adoptar{% endblock %}

{% block content %}
    <script>
        function initMap() {

            var stgo = {lat: -33.4575106, lng: -70.6621742};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: stgo
            });
            var userPositionMarker = new google.maps.Marker({map: map, icon: "{% static 'images/location.png' %}"});
            var infowindow = new google.maps.InfoWindow({content: "Tu Posición"});

            getUserLocation(userPositionMarker, map);

            {% for ong in ongs %}
                addMarker(map, {{ ong.lat }}, {{ ong.lng }}, "{{ ong.name }}", "{% url 'see-natural-ong' pk=ong.pk %}");
            {% endfor %}
            {% for ong in liked_ongs %}
                addCustomMarker(map, {{ ong.lat }}, {{ ong.lng }}, "{{ ong.name }}", "{% url 'see-natural-ong' pk=ong.pk %}");
            {% endfor %}

            alert(ong_markers)
        }

        function addMarker(map, lat, lng, title, url) {
            var pos = {lat: lat, lng: lng};
            var marker = new google.maps.Marker({map: map, position: pos});
            var infowindow = new google.maps.InfoWindow({content: title});
            infowindow.open(map, marker);
            marker.addListener('click', function () {
                window.location.href = url;
            });
        }

        function addCustomMarker(map, lat, lng, title, url) {
            var pos = {lat: lat, lng: lng};
            var marker = new google.maps.Marker({map: map, position: pos, icon: "{% static 'images/star.png' %}"});
            var infowindow = new google.maps.InfoWindow({content: title});
            infowindow.open(map, marker);
            marker.addListener('click', function () {
                window.location.href = url;
            });
        }

        function getUserLocation(marker, map) {
            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    marker.setPosition(pos);
                    marker.addListener('click', function () {
                        infowindow.open(map, userPositionMarker);
                    });

                    map.setCenter(pos);
                    map.setZoom(12);
                }, function () {
                    handleLocationError(true);
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false);
            }
        }

        function handleLocationError(browserHasGeolocation) {
            console.log(browserHasGeolocation);
            if (!browserHasGeolocation) {
                alert("No hemos podido acceder a tu ubicación, te mostraremos información cercana a Santiago");
            }
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBexMfjTU6WVC7eL4q1IY0R2AsRo-938oM&callback=initMap">
    </script>
    <div id="map" style="height: 85%; width: 80%; position: absolute; margin: auto;"></div>

{% endblock %}
